* {
    box-sizing: border-box;
}

header {
    display: grid;
    background:rgb(233, 52, 52);
}

.controlWrapper {
    height: 50px;
    width: 100%;
    background-color: red;
}

.categoryWrapper {
    height: 50px;
    width: 100%;
    background-color: aqua;
}