.navWrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 70px;
    grid-template-areas: "header header header";
}

.profileImg, .logout, .name{
    justify-self: center;
    align-self: center;
}

.profileImg, .logout {
    padding: 1.7em;
}

.name {
    font-size: 1.8em;
    font-weight: 600;
    color: black;
    text-decoration: none;
}